<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ola <%= @user.name %>,</h1>
    <p>
      Obrigado pela incricao! Para confirmar sua incricao clique no link abaixo.

      <%=  link_to "Confirm", confirm_email_url(@user.confirm_token)%>
    </p>
  </body>
</html>
